.is-size-1 {
  font-size: 3rem;
}
.is-size-2 {
  font-size: 2.5rem;
}
.is-size-3 {
  font-size: 2rem;
}
.is-size-4 {
  font-size: 1.5rem;
}
.is-size-5 {
  font-size: 1.25rem;
}
.is-size-6 {
  font-size: 1rem;
}
.is-size-7 {
  font-size: 0.75rem;
}
.is-size-8 {
  font-size: 0.5rem;
}

.rpi-width {
  width: 800px;
}

.is-justify-content-center {
  justify-content: center;
}

.is-align-content-center {
  align-items: center;
}

.is-flex-centered {
  justify-content: center;
  align-items: center;
}

.is-flex-direction-column {
  flex-direction: column;
}

.is-flex-direction-row {
  flex-direction: row;
}

.is-justify-content-space-between {
  justify-content: space-between;
}

.is-justify-content-space-around {
  justify-content: space-around;
}

.full-width {
  width: 100vw;
}

.home-card {
  min-width: 10em;
}

.logo {
  height: 70px;
}
.no-frame-input {
  background-color: transparent;
  border: 0px solid;
  height: 1em;
  width: 100%;
  color: #ccc;
  margin: 0.75em 0.1em;
  padding: 0.75em 0.25em;
  cursor: pointer;
}

.notification {
  position: absolute;
  right: -1em;
}

.m-0 {
  margin: 0;
}
.m-1 {
  margin: 0.25em;
}
.m-2 {
  margin: 0.5em;
}
.m-3 {
  margin: 0.75em;
}
.m-4 {
  margin: 1em;
}

.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 0.25em;
}
.mt-2 {
  margin-top: 0.5em;
}
.mt-3 {
  margin-top: 0.75em;
}
.mt-4 {
  margin-top: 1em;
}

.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 0.25em;
}
.mb-2 {
  margin-bottom: 0.5em;
}
.mb-3 {
  margin-bottom: 0.75em;
}
.mb-4 {
  margin-bottom: 1em;
}

.ml-0 {
  margin-left: 0;
}
.ml-1 {
  margin-left: 0.25em;
}
.ml-2 {
  margin-left: 0.5em;
}
.ml-3 {
  margin-left: 0.75em;
}
.ml-4 {
  margin-left: 1em;
}

.mr-0 {
  margin-right: 0;
}
.mr-1 {
  margin-right: 0.25em;
}
.mr-2 {
  margin-right: 0.5em;
}
.mr-3 {
  margin-right: 0.75em;
}
.mr-4 {
  margin-right: 1em;
}

.p-0 {
  padding: 0;
}
.p-1 {
  padding: 0.25em;
}
.p-2 {
  padding: 0.5em;
}
.p-3 {
  padding: 0.75em;
}
.p-4 {
  padding: 1em;
}

.pl-0 {
  padding-left: 0;
}
.pl-1 {
  padding-left: 0.25em;
}
.pl-2 {
  padding-left: 0.5em;
}
.pl-3 {
  padding-left: 0.75em;
}
.pl-4 {
  padding-left: 1em;
}

.pr-0 {
  padding-right: 0;
}
.pr-1 {
  padding-right: 0.25em;
}
.pr-2 {
  padding-right: 0.5em;
}
.pr-3 {
  padding-right: 0.75em;
}
.pr-4 {
  padding-right: 1em;
}

.wifi {
  position: fixed;
  top: 0.75em;
  right: 1em;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
